body{
    background-color: rgb(196, 192, 189);
     
}

h1{
    text-align: center;
    color: rgb(167, 107, 17);
    margin: 20px 20px 20px 20px;
    padding: 10px 10px 10px 10px;
    border: 5px solid rgb(111, 78, 78);
    border-radius: 10px;
    border-width: 2px;
    
}
p{
    text-align: center;
    outline-offset: 15px;
    outline: 1px solid rgb(60, 92, 92);
}